<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>

<%= link_to "Back to overview", restaurants_path %>
<%= link_to "Create new review", review_path(@restaurant)%></p>
